html {
  color-scheme: light dark;

  --achtergrondkleur: light-dark(#fff8ee #988f82);
  --color: light-dark(#000000 #ffffff);
}
* {
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-style: normal;
}

@media (prefers-color-scheme: light) {
  body {
    color: black;
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background-color: black;
  }
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: var(--achtergrondkleur); */
  color: CanvasText;
  /* color-scheme: light dark; */
}
header {
  display: flex;
  background-color: light-dark(#d15534 rgb(126, 52, 3));
  height: 250px;
  margin: 0;
  justify-content: center;
  align-items: center;
}
h1 {
  font-family: "macchia", sans-serif;
  font-size: clamp(2.5rem, 8vw, 7rem);
  font-style: normal;
  color: #f3c8f3;
}
h1 img {
  width: 200px;
  height: 200px;
}
h2 {
  font-family: "Staatliches", sans-serif;
  font-size: clamp(1rem, 5vw, 6rem);
  color: #fd9651;
}

p {
  font-size: clamp(0.2 rem, 2vw, 3rem);
  color: var(--color);
}
ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
