* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff8ee;
  color: CanvasText;
  color-scheme: light dark;
}

h1 {
  font-family: "p22-nudgewink-pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #f3c8f3;
  background-color: #d15534;
  text-align: center;
}
